.home h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.home>p {
  color: var(--text);
  margin-bottom: 32px;
}

.home-content {
  width: 100%;
}

.home-section {
  margin-bottom: 32px;
}

.home-section h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--text-h);
}